
{block content}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center mt-2">Vítejte v aplikaci pro správu vstupenek</h1>
            </div>
        </div>
    </div>
{/block}

{block page-js}
    <script n:syntax="double">

        $(function(){

            $('#body-overlay').addClass('d-none');

        });
    </script>
{/block}
