{layout '../@no-layout.latte'}
{block content}
    <style>
        html,
        body {
            height: 100%;
        }
        .form-login {
            max-width: 330px;
            padding: 1rem;
        }
        .form-login .form-floating:focus-within {
            z-index: 2;
        }
        .form-login input[type="text"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        .form-login input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh; /* Nastavte výšku na 100% viewportu */
        }

    </style>
    <div class="container">
        <div class="form-login w-100 m-auto">
            {snippet loginFormSnippet}
                <form n:name=loginForm autocomplete="off">
                    <img src="{$basePath}/images/ticket_logo-removebg.png" alt="logo" width="200"  class="d-block mx-auto mb-4">
                    <h3 class="h3 text-center">Přihlášení</h3>
                    <div class="form-floating">
                        <input type="text" class="form-control" n:name="username" placeholder="{$form['username']->caption}">
                        <label for="floatingInput">{$form['username']->caption}</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control {if $form['password']->getError()}is-invalid{/if}" n:name="password" placeholder="{$form['password']->caption}">
                        <label >{$form['password']->caption}</label>
                    </div>
                    <button class="btn btn-primary w-100 py-2" n:name="login" type="submit">{$form['login']->caption}</button>
                </form>
            {/snippet}
        </div>
    </div>

{/block}
{block page-js}
    <script n:syntax="double">
        $(function () {
            $('input[name="password"]').on('keydown', function () {
                let isInvalid = $(this).hasClass('is-invalid');
                if (isInvalid) {
                    $(this).removeClass('is-invalid');
                }
            });
        });
    </script>
{/block}
```